body {
    background-image: url("../images/pokemon_bg.jpg");
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

header {
    padding-block: 1rem;
    box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, .5);
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    padding-inline: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
}

.btn-header {
    background-color: #ececec;
    padding: .5rem;
    border-radius: 100vmax;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
    transition: .2s;
}

.btn-header:hover {
    transform: scale(1.1);
    box-shadow: 0 0 2rem rgba(0, 0, 0, .25);
}

#content-box {
    width: 500px;
    height: 500px;
    border: 10px solid lightgray;
    border-radius: 10px;
    
    display: flex;
    margin: 0 auto;
    margin-top: 5%;

    background-image: url("../images/pokemon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
}

#pokemon-info {
    width: 250px;
    height: 500px;
    text-align: center;
}

#pokemon-list {
    width: 250px;
    height: 500px;
    font-size: 18px;
    overflow-y: auto;
}

.pokemon-name {
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

#pokemon-info img {
    width: 160px;
    height: 160px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
    background-color: white;
}

#pokemon-types {
    margin-top: 10px;
}

.type-box {
    padding: 3px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 10px;
}


.normal {
    background-color: beige;
    color: black;
}

.fire {
    background-color: orange;
    color: white;
}

.grass {
    background-color: green;
    color: white;
}

.water {
    background-color: blue;
    color: white;
}

.ice {
    background-color: lightblue;
    color: black;
}

.electric {
    background-color: gold;
    color: black;
}

.fighting {
    background-color: darkred;
    color: white;
}

.flying {
    background-color: skyblue;
    color: black;
}

.bug {
    background-color: yellowgreen;
    color: white;
}

.ghost {
    background-color: purple;
    color: white;
}

.rock {
    background-color: sienna;
    color: white;
}

.ground {
    background-color: burlywood;
    color: black;
}

.steel {
    background-color: silver;
    color: black;
}

.dark {
    background-color: darkgray;
    color: white;
}

.psychic {
    background-color: palevioletred;
    color: white;
}

.fairy {
    background-color: pink;
    color: black;
}

.dragon {
    background-color: teal;
    color: white;
}

.poison {
    background-color: darkviolet;
    color: white;
}

#pokemon-description {
    width: 230px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;

    margin: 0 auto;
    margin-top: 10px;
    padding: 2px;
    font-size: 18px;
    overflow-y: auto;

}